<div class="container">
  <div class="top-container">
    IL RICETTARIO DI GIOVANNI
  </div>
  <div class="utils-container">
    <button mat-raised-button class="new-button" (click)="openDialog()">NUOVA RICETTA</button>
    <mat-form-field class="title-row">
      <mat-label>Ricerca per titolo</mat-label>
      <input matInput [formControl]="searchNameControl">
      <button *ngIf="searchNameControl.value !== ''" matSuffix mat-icon-button (click)="cleanSearchInput()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Seleziona ingrediente</mat-label>
      <mat-select [formControl]="searchIngredientControl">
        <mat-option *ngFor="let ingredient of (ingredientsObs | async)" [value]="ingredient">{{ingredient}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div class="bottom-container">
    <div class="left-container">
      <app-recipes-list></app-recipes-list>
    </div>
    <div class="right-container">
      <app-recipe-details></app-recipe-details>
    </div>
  </div>
</div>
