.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0px 10px 0px 10px;
}

.ingredients-container {
  width: 80%;
}

.ingredient-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  height: 30px;
  margin: 10px;
}

.ingredient-title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  margin-top: 10px;
}

.ingredient-form-element {
  margin: 0px 5px 0px 5px;
}

.procedure-row {
  width: 100%;
}
