<div class="recipes-container">
    <mat-card *ngFor="let recipe of recipesObs | async" appearance="outlined" class="card">
      <mat-card-content class="card-content">
        <div class="card-content-info" (click)="selectRecipe(recipe)">
          <div class="recipe-name">{{recipe.name}}</div>
          <div class="recipe-date">{{recipe.date | customDateFormat}}</div>
        </div>
        <div>
          <button mat-mini-fab (click)="deleteRecipe(recipe.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    
</div>
